// 字体
$fontSizeS: 16px;
$fontSize: 24px;
$fontSizeL: 32px;
$fontSizeLP: 48px;

// 图片
$imgSize: 48px;
$imgSizeL: 96px;
$imgSizeLP: 120px;

// margin
$marginS: 8px;
$margin: 16px;
$marginL: 24px;

// height
$height: 48px;

// color
$colorWhite: #fff;
$colorLine: #ddd;
$colorGray: #888;